<div id="nav">
  <div class="title">
    <p>
      Welcome to {{ title }}
    </p>
  </div>

  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col [nzSpan]="2"></div>
    <div nz-col [nzSpan]="20">
      <nz-table #nzTable [nzData]="projects" nzTableLayout="fixed" [nzShowPagination]="false">
        <thead>
          <tr>
            <th nzWidth="60px"></th>
            <th>Site (Click to visit)</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of nzTable.data">
            <tr>
              <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
              <td><a style="text-align: left;" nz-button nzType="link" [href]="data.url" nzBlock>{{ data.name }}</a>
              </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
              <span>{{ data.description }}</span>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
    <div nz-col [nzSpan]="2"></div>
  </div>
</div>