#nav { 
    height:100vh; 
    background-image: url('../assets/images/bg2.jpg');
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
}

.title { 
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: bold; 
    font-size: 400%; 
    padding-top: 10%;
    text-align: center;
}